:root{
    --navBarColor: #ff000b;
    --krustyFace: #f7e2af;
}
a{
    text-decoration: none;
}
.navbarStyle, .footerStyle{
    background-color: var(--navBarColor);
}
.krustyLogo, .krustyLogoFooter{
    height: 4em;
    width: 4em;
    background: url("../img/logo.png") no-repeat;
    background-position: center center;
    background-size: cover;
}
.krustyLogoFooter{
    height: 3em;
    width: 3em;
}
.mainStyle{
    background: url("../img/mainBackground.png") no-repeat;
    background-position-x: center;
    background-position-y: -4em;
    background-size: 50em;
}
.menuHeadStyle{
    background: url("../img/menuHeadBackground.png");
    background-position-x: center;
    background-size: 20em;
    height: 14em;
}
.centerMainCard{
    margin:0 2em;
}
.mainPictureText{
    margin-top: -0.5em;
}
.followUsStyle{
    background: url("../img/followUsBackground.png");
    background-position-x: center;
}
.ourMenuStyle{
    background: url("../img/ourMenu.png");
}
.contactStyle{
    background: url("../img/contactBackground.png") no-repeat;
    background-size: cover;
    background-position: center;
}
.supplementStyle{
    background: url("../img/supplement.png");
}
.dessertStyle{
    background: url("../img/dessert.png");
}
.menuPrice{
    margin-top: -0.5em;
}
.buttonStyle {
    width: 9em;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--navBarColor);
    --bs-btn-hover-color: var(--navBarColor);
    --bs-btn-hover-bg: var(--bs-white);
    --bs-btn-hover-border-color: var(--navBarColor);
  }
  .mainImgHome{
    transition: 0.5s;
  }
  .mainImgHome:hover{
    transform: scale(0.9);
    transition: 0.5s;
    cursor: pointer;
  }
  .socialIcon{
    transition: 0.5s;
  }
  .socialIcon:hover{
    transform: scale(0.9);
    transition: 0.5s;
    cursor: pointer;
  }
  .mainCardText{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 0.10em;
    word-spacing: 0.3em;
    transition: 200ms;
    color: black;
  }
  .mainCardText:hover{
    color: var(--navBarColor);
    cursor: pointer;
    font-size: 1.15em;
    transition: 200ms;
  }