:root{
    --navBarColor: #ff000b;
}

.navbarStyle, .footerStyle{
    background-color: var(--navBarColor);
}
.krustyLogo, .krustyLogoFooter{
    height: 4em;
    width: 4em;
    background: url("../img/logo.png") no-repeat;
    background-position: center center;
    background-size: cover;
}
.krustyLogoFooter{
    height: 3em;
    width: 3em;
}